html {
    margin: 0;
    background: url(./laptop.png) fixed;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(94, 148, 236, 0.67);
    min-height: 100%;
    color: white;
}

.header {
    text-align: center;
}

form {
    outline: 2px dotted black;
    padding: 10px;
    background-color: rgba(27, 27, 50, 0.8);
    max-width: 600px;
    min-width: 200px;
    padding: 35px;
    margin: auto;
}

.form-section {
    display: flex;
    flex-direction: column;
    margin: auto;

    margin-bottom: 30px;
}

label {
    margin-bottom: 10px;
}

input,
select {
    margin-bottom: 10px;
    padding: 5px;
}

#recommend {
    display: grid;
    grid-template-columns: 30px 1fr;
}

#opinion {
    display: grid;
    grid-template-columns: 30px 1fr;
}

textarea {
    height: 70px;
    padding: 8px;
    margin-bottom: 10px;
    resize: vertical;
}

button {
    background-color: rgb(55 175 101);
    color: white;
    border: none;
    padding: 15px 0px;
    font-weight: bold;
    font-size: 1.2rem;
}